@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
:root {
    --dark: #3c4350;
    --accent: #e27c33;
    --gray-l: #fbfbfb;
    --gray-d: #a6a6a6;
    --gray-sd: #7b7b7b;
    --text: #333;
    --gray: #e7e5e5;
}
/* box-sizing определяет как вычисляется общая ширина и высота элемента */
* {
    box-sizing: border-box;
}
body {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    color: var(--text);
    min-width: 340px;
    margin: 0;
    padding: 0;
}
.container {
    width: 1200px;
    margin: 0 auto;
}
.flex-center {
    display: flex;
    align-items: center;
}
.top-line {
    background-color: var(--dark);
    color: white;
    height: 50px;
    font-size: 14px;
}
.top-line .container {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    height: 100%;
}
.select-city__icon {
    margin-left: 15px;
}
.pick-up-point {
    padding-left: 35px;
    padding-right: 35px;
    border-right: 1px solid #636973;
}
.top-line__main {
    align-items: stretch;
    height: 100%;
}
.select-city {
    padding-right: 35px;
    border-right: 1px solid #636973;
}
.pick-up-point__icon {
    margin-right: 15px;
}
.top-line-time {
    padding-left: 35px;
}
.top-line-time__text {
    color: gray;
}
.top-line-time__text span {
    color: #ffff;
}
.user-account__icon {
    margin-right: 15px;
}
/* midle-line */
.midle-line .container {
    align-items: stretch;
}
.ml-logo img {
    width: 80px;
}

.midle-line .ml-logo {
    width: 15%;
    padding: 15px 0;
    border-right: 1px solid rgb(243, 243, 243);
}
.fast-search {
    width: 40%;
    padding: 15px 35px;
    border-right: 1px solid rgb(243, 243, 243);
}
.ml-callback {
    width: 20%;
}
.ml-action {
    width: 25%;
}
.fast-search__input {
    position: relative;
}
.fast-search__input input {
    width: 100%;
    height: 50px;
    background-color: var(--gray-l);
    border: 1px solid rgb(231, 231, 231);
    padding: 0 15px;
}
.fast-search__input input:focus {
    border: 3px solid red;
    /* это чтобы убрать бордер вокруг инпута */
    outline: none;
}
.fast-search__icon {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
}
.fast-search__example {
    font-size: 12px;
    color: var(--gray-sd);
}
.ml-callback {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 35px;
    border-right: 1px solid rgb(243, 243, 243);
}
.ml-action {
    width: 25%;
    justify-content: space-between;
    padding-left: 35px;
}
.ml-callback__phone {
    font-weight: 600;
    font-size: 20px;
    color: var(--text);
    text-decoration: none;
}
.ml-callback__call {
    font-size: 14px;
    color: var(--accent);
    margin-top: 5px;
    font-weight: 600;
}
.ml-action__cart {
    display: flex;
    align-items: center;
}
.ml-action__cart__text {
    font-size: 14px;
    font-weight: 600;
    margin-left: 15px;
}
.main-menu {
    height: 50px;
    background-color: var(--gray);
}
.main-menu .container {
    display: flex;
    align-items: stretch;
    height: 100%;
}
.main-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.main-menu a {
    color: var(--text);
    text-decoration: none;
}
.list-cat {
    position: relative;
}
.list-cat__drop {
    width: 100%;
    position: absolute;
    background-color: var(--gray);
    z-index: 2;
}
.list-cat__list-link {
    display: block;
    padding: 10px 25px;
    border-bottom: 1px solid rgb(219, 217, 217);
    font-size: 14px;
    opacity: 0.8;
}
.list-cat__main {
    height: 100%;
    padding-left: 25px;
    padding-right: 100px;
    background-color: var(--accent);
}
.list-cat__main_icon {
    padding-right: 15px;
}
.main-menu__list {
    display: flex;
    align-content: stretch;
    height: 100%;
}
.main-menu__item {
    border-right: 1px solid rgb(219, 217, 217);
    padding: 0 30px;
    display: flex;
    align-items: center;
    font-size: 14px;
}
.header-carousel__slide .container {
    padding-left: 360px;
    padding-top: 50px;
}
.header-carousel__slide {
    height: 450px !important;
}
.header-carousel__slide {
    background-repeat: no-repeat;
    background-size: аuto 100%;
    background-position: center;
}
.header-carousel__title {
    font-size: 40px;
    font-weight: 600;
    line-height: 1;
    margin-bottom: 10px;
    color: #dfdfdf;
}
.header-carousel__desc {
    width: 35%;
    color: #d0cfcf;
}
.header-carousel__desc .bold {
    font-weight: 600;
}
.header-carousel-pagination {
    padding-left: 350px;
}
.header-carousel-pagination-wrap {
    position: absolute;
    bottom: 60px;
    z-index: 2;
    width: 100%;
    left: 0;
}
.swiper-pagination-bullet-active {
    background-color: var(--accent) !important;
}
.header {
    position: relative;
}
.btn-border {
    font-size: 14px;
    color: var(--accent);
    border: 2px solid var(--accent);
    padding: 15px 30px;
    text-decoration: none;
    display: inline-block;
    font-weight: 600;
    margin-top: 20px;
}
.btn-border:hover {
    background-color: var(--accent);
    color: white;
}
.categories {
    margin: 80px 0;
}
.categories__title {
    font-size: 24px;
    margin-bottom: 10px;
}
.categories__desc {
    color: var(--gray-sd);
    margin-bottom: 40px;
}
.categories__items {
    display: flex;
    flex-wrap: wrap;
}
.categories__item {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
    border: 1px solid rgb(243, 243, 243);
    padding: 20px;
    transition: all 0.3s ease;
}
